html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/regal.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
  color: #0a6970;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

h2 {
  color: #0a6970;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a {
  color: #b3d5d6;
  text-decoration: none;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(180deg, #b3d5d6 0%, #0a6970 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    transition: transform 0.3s, font-size 0s;
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transition: transform 0.3s, font-size 0s;
    transform: rotateY(0.5turn);
    background: #0a6970;
    cursor: default;
}

.deck .card.show {
    font-size: 40px;
}

.deck .card.match {
    transform: rotateY(0.5turn);
    cursor: default;
    background: gold;
    font-size: 40px;
}

.cc {
    transform: rotateY(0.5turn);
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: gold;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.time {
    padding-left: 10px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/*
 * Styles for the Game Over Modal
 */

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background: #ffffff url('../img/regal.png');
	transition: opacity 500ms;
  visibility: hidden;
	opacity: 1;
  display: flex;
}

.popup {
	margin: auto auto;
	padding: 75px 0;
	background: #ffffff;
	border-radius: 10px;
	width: 660px;
	position: relative;
  text-align: center;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.7);
}

.graph{
  height: 200px;
  background: url('../img/winner.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

button {
  background: #0a6970;
  color: #b3d5d6;
  width: 200px;
  height: 35px;
  font-family: 'Coda', cursive;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
	font-size: 1rem;
}

.score{
  margin: 25px 0;
}

.show {
	visibility: visible;
}


/*
 * Responsive Media Queries
 */

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 1.6em;
    padding: 0 0.5em;
  }

  .deck .card.show {
    font-size: 35px;
  }

  .deck .card.match {
    font-size: 35px;
  }

  .score-panel {
    width: 85vw;
  }

}

@media screen and (max-width: 660px) {
  .deck {
    width: 90vw;
    min-height: unset;
    padding: 3vw;
    margin: 0.5em 0 3em;
    }

  .deck .card {
    width: 18vw;
    height: 18vw;
    margin: 3vw 1vw 0vw 1vw;
    }

  .deck .card:nth-of-type(13),
  .deck .card:nth-of-type(14),
  .deck .card:nth-of-type(15),
  .deck .card:nth-of-type(16) {
    margin: 3vw 1vw 3vw 1vw;
    }

  .popup {
    width: 90vw;
    height: auto;
    margin: auto;
    padding: 20px 20px;
  }

}
